html {
  --scrollBarWidth: 0px;
  --containerWidth: 1310px;
  --containerSingleWidth: 830px;
}
.responsive .container {
  max-width: 1310px;
}
#top .avia-section.avia-shadow {
  box-shadow: none;
}
.avia_textblock p > a {
  text-decoration: underline;
}
strong {
  font-weight: 700;
}
blockquote {
  font-size: 22px;
}
#top .av-share-box {
  margin: 0;
  float: none;
}
#top .av-share-box .av-share-link-description {
  display: none;
}
#top .av-share-box .av-share-box-list {
  border: none;
  display: flex;
  flex-direction: row;
}
#top .av-share-box .av-share-box-list li {
  border: none;
}
#top .av-share-box .av-share-box-list li:not(:last-child) {
  margin-right: 15px;
}
#top .av-share-box .av-share-box-list li a {
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}
#top .av-share-box .av-share-box-list li .avia_hidden_link_text,
#top .av-share-box .av-share-box-list li .avia-related-tooltip {
  display: none !important;
}
.ep-social-bookmarks-wrapper ul {
  display: flex;
  flex-direction: row;
}
.ep-social-bookmarks-wrapper ul li:not(:last-child) {
  margin-right: 15px !important;
}
@media only screen and (min-width: 768px) {
  .ep-social-bookmarks-wrapper ul li:not(:last-child) {
    margin-right: 34px !important;
  }
}
.ep-social-bookmarks-wrapper ul li a {
  color: #5f89e6;
  transition: color ease 0.25s;
}
.ep-social-bookmarks-wrapper ul li a:hover {
  color: #69b3f5;
}
.ep-social-bookmarks-wrapper ul li.av-social-link-facebook a::before {
  content: "" !important;
}
.ep-social-bookmarks-wrapper ul li.av-social-link-linkedin a::before {
  content: "" !important;
}
.ep-social-bookmarks-wrapper ul li.av-social-link-facebook a::before,
.av-share-box ul li.av-social-link-facebook a::before {
  content: "" !important;
}
.ep-social-bookmarks-wrapper ul li.av-social-link-linkedin a::before,
.av-share-box ul li.av-social-link-linkedin a::before {
  content: "" !important;
}
@media only screen and (max-width: 767px) {
  .ep-flickity-slider {
    padding-bottom: 47px;
  }
}
.ep-flickity-slider .flickity-page-dots {
  bottom: 0;
  left: var(--columnGap);
  justify-content: space-between;
  display: flex;
}
.ep-flickity-slider .flickity-page-dots::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #c6dceb;
  z-index: -1;
}
.ep-flickity-slider .flickity-page-dots .dot {
  width: 103px;
  height: 3px;
  border-radius: 5px;
  bottom: 0;
  z-index: 2;
  background-color: #db3cfd;
  opacity: 0;
  margin: 0;
}
.ep-flickity-slider .flickity-page-dots .dot.is-selected {
  opacity: 1;
}
.bring-above {
  position: relative !important;
  z-index: 4 !important;
}
.narrow > .container,
.avia_textblock.narrow,
.flex_column_table.narrow {
  max-width: 1000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}
.av_inherit_color * {
  color: inherit !important;
}
.nolink {
  cursor: pointer !important;
  pointer-events: none !important;
}
.has-box-shadow {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 480px) {
  .two-col-ul {
    column-count: 2 !important;
  }
}
.no-bg {
  background-image: none !important;
}
@media only screen and (max-width: 767px) {
  .no-bg-mobile {
    background-image: none !important;
  }
}
@media only screen and (max-width: 989px) {
  .no-bg-tablet {
    background-image: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .no-br-mobile br {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .fwd-phone {
    margin-left: -7.5vw !important;
    margin-right: -7.5vw !important;
    width: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  .fwd-mobile {
    margin-left: -7.5vw !important;
    margin-right: -7.5vw !important;
    width: auto !important;
  }
}
@media only screen and (max-width: 989px) {
  .fwd-tablet {
    margin-left: -7.5vw !important;
    margin-right: -7.5vw !important;
    width: auto !important;
  }
}
.img-has-shadow img {
  box-shadow: -5px 10px 25px rgba(0, 0, 0, 0.16);
}
@media only screen and (max-width: 480px) {
  .img-fwd-phone .avia-image-container-inner,
  .img-fwd-phone .avia-image-container-inner img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 767px) {
  .img-fwd-mobile .avia-image-container-inner,
  .img-fwd-mobile .avia-image-container-inner img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 989px) {
  .img-fwd-tablet .avia-image-container-inner,
  .img-fwd-tablet .avia-image-container-inner img {
    width: 100% !important;
  }
}
.have-boxed-separators .flex_column .flex-column-inner {
  position: relative;
}
.have-boxed-separators .flex_column .flex-column-inner .avia_textblock p {
  font-size: 16px;
  line-height: 1.75;
}
.have-boxed-separators .flex_column .flex-column-inner::before {
  content: "\f1d8";
  font-family: "fa-fontello";
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
  border-radius: 16px;
  background: linear-gradient(#69b3f5 0%, #5ed1d8 100%);
  box-shadow: 0px 15px 30px rgba(56, 100, 125, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 35px;
}
@media only screen and (max-width: 767px) {
  .have-boxed-separators .flex_column:first-child {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 767px) {
  .have-boxed-separators .flex_column:first-child .flex-column-inner {
    padding-left: 110px;
  }
}
@media only screen and (min-width: 768px) {
  .have-boxed-separators .flex_column:first-child .flex-column-inner {
    padding-right: 110px;
  }
}
.have-boxed-separators
  .flex_column:first-child
  .flex-column-inner
  .avia_textblock
  p {
  margin: 0 auto 0 0 !important;
}
@media only screen and (max-width: 767px) {
  .have-boxed-separators
    .flex_column:first-child
    .flex-column-inner
    .avia_textblock
    p {
    text-align: left !important;
  }
}
@media only screen and (min-width: 768px) {
  .have-boxed-separators
    .flex_column:first-child
    .flex-column-inner
    .avia_textblock
    p {
    max-width: 343px;
    margin: 0 0 0 auto !important;
  }
}
.have-boxed-separators .flex_column:first-child .flex-column-inner::before {
  left: 0;
  right: auto;
}
@media only screen and (min-width: 768px) {
  .have-boxed-separators .flex_column:first-child .flex-column-inner::before {
    left: auto;
    right: 0;
  }
}
.have-boxed-separators .flex_column:last-child .flex-column-inner {
  padding-left: 110px;
}
.have-boxed-separators
  .flex_column:last-child
  .flex-column-inner
  .avia_textblock
  p {
  margin: 0 auto 0 0 !important;
}
@media only screen and (min-width: 768px) {
  .have-boxed-separators
    .flex_column:last-child
    .flex-column-inner
    .avia_textblock
    p {
    max-width: 388px;
  }
}
.have-boxed-separators .flex_column:last-child .flex-column-inner::before {
  left: 0;
}
.boxed-with-separator .flex_column .flex-column-inner {
  background-color: #fff;
  min-height: 324px;
  border-radius: 20px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  height: 100%;
}
.is-light-weight p,
.is-light-weight .av-special-heading-tag {
  font-weight: 300;
}
.separator--white {
  position: relative;
}
.separator--white::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.07);
  filter: drop-shadow(0px 10px 30px #000);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50px;
}
.separator--blue {
  position: relative;
}
.separator--blue::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: rgba(95, 137, 230, 0.2);
  filter: drop-shadow(0px 10px 30px #000);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50px;
}
#top .img--border-radious img {
  border-radius: 20px;
}
#top .img--has-shadow img {
  box-shadow: 0px 15px 60px #cbdbe9;
}
#top .dark-social-icons .ep-social-bookmarks li a {
  color: #234e80;
}
#top {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
#top h1,
#top h2,
#top h3,
#top h4,
#top h5,
#top h6,
#top .h1,
#top .h2,
#top .h3,
#top .h4,
#top .h5,
#top .h6 {
  font-family: "Poppins", sans-serif;
  text-transform: none;
  font-weight: 700;
  text-wrap: balance;
}

#top h1,
#top .h1,
#top h2,
#top .h2 {
  font-weight: 300;
}

#top h4,
#top .h4 {
  letter-spacing: calc((20px / 1000) * 150);
}

#top h6,
#top .h6 {
  letter-spacing: calc((16px / 1000) * 150);
  text-transform: uppercase;
}

#top .av-subheading {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
#top .ep-custom-menu-element ul,
#top .av-share-box ul,
#top .ep-social-bookmarks-wrapper ul,
#top .ep-icon-list-container ul {
  margin: 0;
}
#top .ep-custom-menu-element ul li,
#top .av-share-box ul li,
#top .ep-social-bookmarks-wrapper ul li,
#top .ep-icon-list-container ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top p strong,
#top .entry-content-wrapper li strong {
  font-weight: 700;
}
#top p a:not(.avia-button),
#top .entry-content-wrapper li a:not(.avia-button) {
  transition: color ease 0.2s;
}
#top em {
  font-style: italic;
}
#top p {
  margin: 0 0 0.85em 0;
}
#top .entry-content-wrapper ul:not(.blocks-gallery-grid) {
  margin: 0;
  padding: 0;
}
#top
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item) {
  padding: 0 0 0 20px;
  list-style: none;
  position: relative;
  margin: 1em 0;
}
#top
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item)::before {
  content: "";
  font-family: "";
  position: absolute;
  left: 0;
  top: 11px;
  font-size: 0.8em;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}
#top .entry-content-wrapper ol:not(.flickity-page-dots) {
  margin: 0 0 0 1.2em;
  padding: 0;
}
#top .entry-content-wrapper ol:not(.flickity-page-dots) li {
  list-style: decimal;
  padding-left: 0.5em;
}
#top .entry-content-wrapper ol:not(.flickity-page-dots) li::before {
  display: none;
}
#top .main_color {
  background-color: #fff;
  color: #304d7c;
}
#top .main_color a:not([class*="button"]) {
  color: #5f89e6;
}
#top .main_color a:not([class*="button"]):hover {
  color: #c84bf4;
}
#top .main_color strong {
  color: #304d7c;
}
#top
  .main_color
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item)::before {
  background-color: #db3cfd;
}
#top
  .main_color
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item)
  ul
  li::before {
  background-color: #6a88df;
}
#top .main_color h1,
#top .main_color .h1 {
  color: #c84bf4;
}
#top .main_color h2,
#top .main_color .h2 {
  color: #304d7c;
}
#top .main_color h4,
#top .main_color .h4 {
  color: #234e80;
}
#top .main_color h5,
#top .main_color .h5 {
  color: #234e80;
}
#top .main_color h6,
#top .main_color .h6 {
  color: #c84bf4;
}
#top .alternate_color {
  background-color: #304d7c;
  color: #fff;
}
#top .alternate_color a:not([class*="button"]) {
  color: #fff;
}
#top
  .alternate_color
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item)::before {
  background-color: #fff;
}
#top
  .alternate_color
  .entry-content-wrapper
  ul:not(.blocks-gallery-grid)
  li:not(.ep-iconlist-item):not(.ep-social-bookmarks):not(.av-share-link):not(.menu-item)
  ul
  li::before {
  background-color: rgba(255, 255, 255, 0.37);
}
html .hamburger-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
  pointer-events: none;
}
html .hamburger-content {
  position: fixed;
  width: 100%;
  pointer-events: none;
  right: 0;
  z-index: 11;
  top: 110px;
  height: calc(100vh - 110px);
  transition: all ease 0.25s;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  background: linear-gradient(#c84bf4 0%, #6a88df 100%);
}
@media only screen and (min-width: 783px) {
  html .hamburger-content {
    height: calc(100vh - 150px);
    top: 150px;
    width: 45%;
    right: -50%;
  }
}
html .hamburger-content .hamburger-content-inner {
  padding: 30px 0 60px;
}
html .hamburger-content .main-menu {
  margin: 0;
}
html .hamburger-content .main-menu > li {
  position: relative;
}
html .hamburger-content .main-menu > li > a {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 30px 30px;
  transition: font-weight ease 0.25s;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li > a {
    padding: 30px 7.5vw;
  }
}
html .hamburger-content .main-menu > li > a::before {
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity ease 0.25s;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li > a::before {
    width: calc(100% - 15vw);
  }
}
html .hamburger-content .main-menu > li > a:hover,
html
  .hamburger-content
  .main-menu
  > li
  > a:active
  html
  .hamburger-content
  .main-menu
  > li
  > a:focus {
  text-decoration: none;
}
html .hamburger-content .main-menu > li a {
  color: #fff;
  display: block;
}
@media only screen and (max-width: 989px) {
  html .hamburger-content .main-menu > li > .avia_mega_div,
  html .hamburger-content .main-menu > li > .sub-menu {
    max-height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
    transition: max-height cubic-bezier(0.4, 0, 0.2, 1) 0.3s,
      height cubic-bezier(0.4, 0, 0.2, 1) 0.3s, overflow ease 0.25s,
      opacity ease 0.25s, padding ease 0.25s;
  }
}
html .hamburger-content .main-menu > li > .avia_mega_div li a,
html .hamburger-content .main-menu > li > .sub-menu li a {
  padding: 10px 30px;
  position: relative;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li > .avia_mega_div li a,
  html .hamburger-content .main-menu > li > .sub-menu li a {
    padding: 10px 7.5vw;
  }
}
html .hamburger-content .main-menu > li > .avia_mega_div li a::before,
html .hamburger-content .main-menu > li > .sub-menu li a::before {
  content: "\e807";
  font-family: "rxpharmacy-icons";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #5ed1d8;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li > .avia_mega_div li a::before,
  html .hamburger-content .main-menu > li > .sub-menu li a::before {
    right: 7.5vw;
  }
}
html .hamburger-content .main-menu > li > .avia_mega_div::before,
html .hamburger-content .main-menu > li > .sub-menu::before {
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity ease 0.25s;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li > .avia_mega_div::before,
  html .hamburger-content .main-menu > li > .sub-menu::before {
    width: calc(100% - 15vw);
  }
}
html .hamburger-content .main-menu > li.sub-menu-is-active > a {
  font-weight: 700;
}
html .hamburger-content .main-menu > li.sub-menu-is-active > a::before {
  opacity: 0;
}
html .hamburger-content .main-menu > li.sub-menu-is-active > .avia_mega_div,
html .hamburger-content .main-menu > li.sub-menu-is-active > .sub-menu {
  padding-bottom: 30px;
}
@media only screen and (max-width: 989px) {
  html .hamburger-content .main-menu > li.sub-menu-is-active > .avia_mega_div,
  html .hamburger-content .main-menu > li.sub-menu-is-active > .sub-menu {
    max-height: 500px;
    pointer-events: initial;
    overflow: visible;
    opacity: 1;
    transition-duration: 0.4s;
  }
}
html
  .hamburger-content
  .main-menu
  > li.sub-menu-is-active
  > .avia_mega_div::before,
html .hamburger-content .main-menu > li.sub-menu-is-active > .sub-menu::before {
  opacity: 1;
}
html
  .hamburger-content
  .main-menu
  > li.sub-menu-is-active
  .sub-menu-indicator:before {
  transform: rotate(180deg);
}
html .hamburger-content .main-menu > li .sub-menu-indicator {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (max-width: 782px) {
  html .hamburger-content .main-menu > li .sub-menu-indicator {
    right: 7.5vw;
  }
}
html .hamburger-content .main-menu > li .sub-menu-indicator:before {
  content: "\e800";
  font-family: "fa-fontello";
  font-size: 30px;
  color: #fff;
  position: absolute;
  transition: transform ease 0.25s;
}
html .hamburger-content .ep-social-bookmarks-wrapper {
  margin-top: 40px;
}
html .hamburger-content .ep-social-bookmarks-wrapper .ep-social-bookmarks {
  flex-direction: row;
}
html
  .hamburger-content
  .ep-social-bookmarks-wrapper
  .ep-social-bookmarks
  li:not(:last-child) {
  margin-right: 45px !important;
}
html .hamburger-content .ep-social-bookmarks-wrapper .ep-social-bookmarks li a {
  color: rgba(255, 255, 255, 0.32);
  transition: opacity ease 0.25s;
}
html
  .hamburger-content
  .ep-social-bookmarks-wrapper
  .ep-social-bookmarks
  li
  a::before {
  font-size: 37px;
}
html
  .hamburger-content
  .ep-social-bookmarks-wrapper
  .ep-social-bookmarks
  li
  a:hover {
  opacity: 0.5;
}
html .header {
  position: fixed;
  background: transparent;
  z-index: 12;
  width: 100%;
  transition: all ease 0.2s;
}
html .header .announcement-banner {
  height: 66px;
  background-color: #d55eef;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
html .header .announcement-banner .announcement-banner-inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: calc((20px / 1000) * 150);
  display: flex;
  justify-content: center;
  align-items: center;
}
html .header .announcement-banner .announcement-banner-inner .banner-button {
  color: inherit;
  transition: opacity ease 0.25s;
  position: relative;
  text-decoration: underline;
  margin-left: 7px;
}
html
  .header
  .announcement-banner
  .announcement-banner-inner
  .banner-button:hover {
  opacity: 0.7;
}
html
  .header
  .announcement-banner
  .announcement-banner-inner
  i.icon-temp::before {
  content: "\E82B";
  font-family: "rxpharmacy-icons";
  margin-right: 19.5px;
  font-size: 33px;
}
html .header .announcement-banner .announcement-banner-inner .close-bar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
html .header::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e2f1fa;
  opacity: 0;
  visibility: hidden;
  transition: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: inherit;
}
html .header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  transition: all ease 0.2s;
  z-index: 12;
  position: relative;
  padding: 20px 7.5vw;
  max-width: 1310px;
  margin: 0 auto;
}
@media only screen and (min-width: 783px) {
  html .header .header-inner {
    height: 150px;
  }
}
@media only screen and (min-width: 783px) {
  html .header .header-inner {
    padding: 20px 50px;
  }
}
html .header .header-inner .header-logo {
  position: relative;
}
html .header .header-inner .header-logo .logo {
  display: block;
  max-width: 200px;
  transition: all ease 0.25s;
}
@media only screen and (max-width: 767px) {
  html .header .header-inner .header-logo .logo {
    max-width: 150px;
  }
}
html .header .header-inner .header-logo .logo img {
  display: block;
}
@media only screen and (max-width: 989px) {
  html .header .header-inner .header-menu {
    display: none;
  }
}
html .header .header-inner .header-menu .main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  box-shadow: -5px -5px 15px #fff;
  margin: 0;
  padding: 10px 10px;
  min-width: 120px;
  position: relative;
}
html .header .header-inner .header-menu .main-menu::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 40px;
  background: linear-gradient(142deg, #e2f1fa 0%, #d2e5f1 100%);
  box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.18),
    5px 5px 15px rgba(0, 0, 0, 0.24);
}
@media only screen and (min-width: 768px) {
  html .header .header-inner .header-menu .main-menu {
    padding: 15px 40px;
    min-width: 246px;
  }
}
html .header .header-inner .header-menu .main-menu > li {
  position: relative;
}
html .header .header-inner .header-menu .main-menu > li:not(:last-child) {
  margin-right: 47px;
}
html .header .header-inner .header-menu .main-menu > li > a {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #5f89e6;
  transition: color ease 0.25s;
}
html .header .header-inner .header-menu .main-menu > li > a:hover {
  text-decoration: none;
  color: #69b3f5;
}
@media only screen and (min-width: 768px) {
  html .header .header-inner .header-menu .main-menu > li > a {
    font-size: 18px;
  }
}
html
  .header
  .header-inner
  .header-menu
  .main-menu
  > li.menu-item-has-children
  .sub-menu {
  position: absolute;
  top: calc(50% + calc(150px / 2));
  right: 0;
  transform: translateY(-10px);
  margin: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  z-index: 1;
  width: max-content;
  min-width: 259px;
  border-radius: 20px;
  box-shadow: 0px 15px 60px #cbdbe9;
  padding: 30px 0 20px;
}
html
  .header
  .header-inner
  .header-menu
  .main-menu
  > li.menu-item-has-children
  .sub-menu::before {
  content: "";
  width: 112px;
  height: 10px;
  border-radius: 5px;
  background-color: #db3cfd;
  position: absolute;
  top: -4px;
  right: 29px;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform ease 0.25s, opacity ease 0.25s;
}
html
  .header
  .header-inner
  .header-menu
  .main-menu
  > li.menu-item-has-children
  .sub-menu
  > li
  > a {
  color: #6a88df;
  font-size: 18px;
  display: block;
  padding: 10px 31px;
}
html
  .header
  .header-inner
  .header-menu
  .main-menu
  > li.menu-item-has-children.sub-menu-is-active
  .sub-menu {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(-40px);
}
html
  .header
  .header-inner
  .header-menu
  .main-menu
  > li.menu-item-has-children.sub-menu-is-active
  .sub-menu::before {
  transform: translateY(0);
  opacity: 1;
}
html .header .header-inner .hamburger-toggle {
  width: 20px;
  height: 16px;
  padding: 0;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}
@media only screen and (min-width: 990px) {
  html .header .header-inner .hamburger-toggle {
    display: none;
  }
}
html .header .header-inner .hamburger-toggle .burger-box {
  width: 100%;
  height: 2px;
  background: #5f89e6;
  transition: all ease 0.2s;
}
html .header .header-inner .hamburger-toggle .burger-box::before,
html .header .header-inner .hamburger-toggle .burger-box::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #5f89e6;
  position: absolute;
  transition: all ease 0.2s;
}
html .header .header-inner .hamburger-toggle .burger-box::before {
  top: 0;
  left: 0;
}
html .header .header-inner .hamburger-toggle .burger-box::after {
  bottom: 0;
  left: 0;
}
html .header.has-bar {
  transition: ease 0.25s;
}
@media only screen and (min-width: 768px) and (min-width: 783px) {
  html .header.has-bar .announcement-banner {
    display: flex;
  }
}
html.header-is-scrolled .header::before {
  opacity: 1;
  visibility: visible;
}
html.header-is-scrolled .header .header-inner {
  height: 110px;
}
@media only screen and (min-width: 768px) {
  html.header-is-scrolled .header .header-inner .header-logo .logo {
    max-width: 156px;
  }
}
@media only screen and (min-width: 990px) {
  html.header-is-scrolled .header.has-bar {
    transform: translateY(calc(66px * -1));
  }
}
html.header-is-scrolled .hamburger-content {
  top: 110px;
}
html.html_av_admin_bar_active .hamburger-content {
  top: calc(110px + 46px);
}
@media only screen and (min-width: 783px) {
  html.html_av_admin_bar_active .hamburger-content {
    top: calc(150px + 32px);
  }
}
html.html_av_admin_bar_active.header-is-scrolled .hamburger-content {
  top: calc(110px + 46px);
}
@media only screen and (min-width: 783px) {
  html.html_av_admin_bar_active.header-is-scrolled .hamburger-content {
    top: calc(110px + 32px);
  }
}
html.burger-is-active {
  overflow: hidden;
}
@media only screen and (min-width: 783px) {
  html.burger-is-active .hamburger-overlay {
    opacity: 1;
    pointer-events: initial;
  }
}
html.burger-is-active .header::before {
  opacity: 1;
  visibility: visible;
}
html.burger-is-active .header .header-inner .hamburger-toggle .burger-box {
  background: transparent;
}
html.burger-is-active
  .header
  .header-inner
  .hamburger-toggle
  .burger-box::before,
html.burger-is-active
  .header
  .header-inner
  .hamburger-toggle
  .burger-box::after {
  top: calc(50% - 2px);
}
html.burger-is-active
  .header
  .header-inner
  .hamburger-toggle
  .burger-box::before {
  transform: rotate(45deg);
}
html.burger-is-active
  .header
  .header-inner
  .hamburger-toggle
  .burger-box::after {
  bottom: auto;
  transform: rotate(-45deg);
}
html.burger-is-active .header .hamburger-content {
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  right: 0;
}
.html_header_top.html_header_sticky #main {
  padding-top: 0 !important;
}
#top:not(.page-template-template-blank)
  #main
  > .container_wrap_first:first-child
  .container,
#top:not(.page-template-template-blank) .avia-builder-el-0 > .container,
#top:not(.page-template-template-blank)
  .avia-builder-el-0
  > .av-section-color-overlay-wrap
  > .container,
#top:not(.page-template-template-blank) .avia-builder-el-0 .slideshow_caption {
  padding-top: 110px;
}
@media only screen and (min-width: 783px) {
  #top:not(.page-template-template-blank)
    #main
    > .container_wrap_first:first-child
    .container,
  #top:not(.page-template-template-blank) .avia-builder-el-0 > .container,
  #top:not(.page-template-template-blank)
    .avia-builder-el-0
    > .av-section-color-overlay-wrap
    > .container,
  #top:not(.page-template-template-blank)
    .avia-builder-el-0
    .slideshow_caption {
    padding-top: 150px;
  }
}
@media only screen and (max-width: 1120px) {
  #header .units {
    width: 100% !important;
  }
}
[id]:target:before,
[name]:target:before {
  content: "";
  display: block;
  height: calc(110px + 80px);
  margin-top: calc((110px + 80px) * -1);
  visibility: hidden;
}
@media only screen and (min-width: 989px) {
  #top:not(.page-template-template-blank)
    .header.has-bar
    + #main
    > .avia-builder-el-0 {
    padding-top: 66px;
  }
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

#top h6,
#top .h6
.text-base {
  font-size: 1rem;
  line-height: 1.25;
}

#top h5,
#top .h5,
.text-lg {
  font-size: 18px;
  line-height: 1.5;
}

#top h4,
#top .h4,
.text-xl {
  font-size: 20px;
  line-height: 1.5;
}

#top h3,
#top .h3,
.text-2xl {
  font-size: 20px;
  line-height: 1.7;
}

@media only screen and (min-width: 1100px) {
  #top h3,
  #top .h3,
  .text-2xl {
    font-size: 24px;
    line-height: 1.41667;
  }
}

#top h2,
#top .h2,
.text-3xl {
  font-size: 30px;
  line-height: 1.53333;
}

@media only screen and (min-width: 1100px) {
  #top h2,
  #top .h2,
  .text-3xl {
    font-size: 36px;
    line-height: 1.27;
  }
}

#top h1,
#top .h1,
.text-4xl {
  font-size: 40px;
  line-height: 1.625;
}

.font-sans {
  font-family: "Lato", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-display {
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ep-animated-number {
  display: grid;
  gap: 0.5rem;
  background: linear-gradient(125deg, #c84bf4 0%, #6a88df 100%);
  border-radius: 30px;
  color: white !important;
  padding: 2rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  text-align: center;
}

.flex_column:not(.avia-builder-el-first):not(.avia-builder-el-last) .ep-animated-number {
  background: linear-gradient(45deg, #5ed1d8 0%, #5f88e4 100%);
}

.ep-animated-number .heading {
  color: white !important;
  font-size: 55px;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
}

.ep-animated-number-content * {
  text-wrap: balance;
}

.ep-animated-number-content *:last-child {
  margin-bottom: 0 !important;
}

.avia-video {
  border-radius: 30px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  overflow: hidden;
}

.column-border-right + .av-flex-placeholder {
  position: relative;
}

@media screen and (min-width: 990px) {
  .column-border-right + .av-flex-placeholder::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -1rem;
    bottom: -1rem;
    width: 1px;
    background: #e2e2e2;
  }
}
